@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,300;1,300&display=swap');

:root {
    --dark_blue : #0C134F;
    --mid_dark_blue : #1D267D;
    --night_purple : #5C469C;
    --light_purple: #D4ADFC;
    --lighter_dark_blue : #3b45a3;
}

* {
    font-family: roboto;
    
}

body {
    background-color: var(--dark_blue);
    color: var(--light_purple);
}

h1{
    font-family: cursive;
}

.maincard {
    margin: 5% auto;
    height: 50%;
    width: 50%;
    background-color: var(--mid_dark_blue);
    padding-left: 6%;
    padding-top: 2%;
    border-radius: 20px;
    position: relative;
    
    
}

.newtaskfield {
    position: static;
    bottom: 10; /* to make element sticks at the bottom of a div */
    padding-bottom: 5%;
    width: 96.5%;
    
    
    
}

.inputfield {
    border-radius: 10px;
    margin-top: 20px;
    line-height: 2;
    width: 87.5%;
    background-color: var(--lighter_dark_blue);
    border: none;
    color: white;
    font-size: 15px;
    padding-left: 3%;
    margin-right: 3%;
}

.addbutton {
    border-radius: 13px;
    line-height: 2;
    width: 15%;
    background-color: var(--night_purple);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.addbutton:hover {
    background-color: #6d57af;
}
.List {
    line-height: 3;
    width: 70%;
    padding: 2px 2px;
    

}

.List button {

    padding: 5px 10px;
    width: 20%;
    margin-left: 45%;
    position: absolute;
    left: 24%;
    background-color: var(--night_purple);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 13px;
    line-height: 1.5;
}
.checkboxStyle:checked {
    background-color: var(--night_purple); /* Change background color when checked */
    border-color: var(--night_purple); /* Change border color when checked */
  }
  


.List button:hover {
    background-color: #6d57af;
}

.List label {
    margin-left: 3%;
}
.List  {
    color: white;
}

  .checkboxStyle {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}


